## Visual Studio & .NET
.vs/
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## Deploy Staging & Backups
RollbackBackups/
TempStaging/
publish/servicos/*
!publish/servicos/.gitkeep

## OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
