<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DNA.TimeSyncSVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DNA.TimeSyncSVC.Properties.Settings>
            <setting name="XmlConfigurationPath" serializeAs="String">
                <value>MediaDNA_V2\Data\Config\ConfigXml.xml</value>
            </setting>
            <setting name="ExceptionPath" serializeAs="String">
                <value>MediaDNA_V2\Data\exception</value>
            </setting>
            <setting name="Flush" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="NetworkReportFile" serializeAs="String">
                <value>MediaDNA_V2\Data\Config\NetworkReport.xml</value>
            </setting>
            <setting name="MaxTime_NoResync_Hours" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ReceiveRetryTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ReceiveTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
        </DNA.TimeSyncSVC.Properties.Settings>
    </applicationSettings>
    <appSettings>
        <add key="errorCycleTime" value="1800000"/>
        <add key="maxErrorPerCycle" value="3"/>
    </appSettings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
