<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DNA.TrackingSVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DNA.TrackingSVC.Properties.Settings>
            <setting name="XmlConfigurationPath" serializeAs="String">
                <value>MediaDNA_V2\Data\Config\ConfigXml.xml</value>
            </setting>
            <setting name="IterationSleepTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VerticalErrorSleepTime" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="IntevalGetConfiguration" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="IdHost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExceptionPath" serializeAs="String">
                <value>MediaDNA_V2\Data\exception</value>
            </setting>
            <setting name="SigantureNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SignatureTime" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="WebserviceTimer" serializeAs="String">
                <value>60000</value>
            </setting>
        </DNA.TrackingSVC.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="errorCycleTime" value="1800000"/>
    <add key="maxErrorPerCycle" value="3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
